<section class="edit-client">
    <form [formGroup]="addAccountContableForm">
      <div class="form-group grid grid-cols-2 mb-5 normal-input">
        <div>
          <label for="firstName">Codigo</label>
          <input appInput type="text" formControlName="codigo" />
        </div>
        <div>
          <label for="Teléfono celular">Descripcion</label>
          <input appInput type="text" formControlName="descripcion" />
        </div>
      </div>
      <div class="form-group grid grid-cols-2 mb-5 normal-input">
        <div>
          <label for="firstName">Permite Transaciones</label>
          <select appInput type="text" formControlName="permiteTransaciones">
            <option Value="Si">Si</option>
            <option  Value="No">No</option>
          </select> 
        </div>
        <div>
          <label for="Teléfono celular">Nivel</label>
          <input appInput type="text" formControlName="nivel" />
        </div>
      </div>
      <div class="form-group grid grid-cols-2 mb-5 normal-input">
        <div>
          <label for="firstName">Cuenta Mayor</label>
          <input appInput type="text" formControlName="cuentaMayor" />
        </div>
        <div>
          <label for="Teléfono celular">balance</label>
          <input appInput type="text" formControlName="balance" />
        </div>
      </div>
      <div class="form-group grid grid-cols-2 mb-5 normal-input">
        <div>
          <label for="firstName">Tipo de Cuenta Contable</label>
          <select appInput type="text" formControlName="tipoCuentaContableId">
            <option *ngFor="let cuenta of cuentaDropdown" [ngValue]="cuenta._id" >{{cuenta.descripcion}}</option>
          </select> 
        </div>
        <div>
          <label for="Teléfono celular">Tipo de Moneda</label>
          <select appInput type="text" formControlName="tipoMonedaId">
            <option *ngFor="let moneda of monedaDropdown" [ngValue]="moneda._id" >{{moneda.descripcion}}</option>
          </select> 
        </div>
      </div>
      <div class="form-group grid grid-cols-2 mb-5 normal-input">
        <div>
          <label for="Centro de costo">Estado</label>
          <select appInput type="text" formControlName="estado">
            <option [ngValue]="option1">Activo</option>
            <option  [ngValue]="option2">Inactivo</option>
          </select> 
        </div>
      </div>
    </form>
    <div class="flex justify-end bottom-buttons-container mt-10">
      <button class="secondary-btn-style mr-10 my-5" (click)="closeWindow()">Cancelar</button>
      <button *ngIf="!isEdit" class="primary-btn-style mr-10 my-5" (click)="addClient(addAccountContableForm.value)">Guardar</button>
      <button *ngIf="isEdit" class="primary-btn-style mr-10 my-5" (click)="updateClient(addAccountContableForm.value)">Editar</button>
    </div>
  </section>