<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Entrada Contable</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <!-- Your content -->

      <button class="primary-btn-style2 mt-8 mb-4 ml-8" (click)="openModalWindow('add')" > 
        Añadir Entrada Contable</button> 
      <div class="table-content">
      <table class="table-conteiner conteiner action-check-table action-btn-table ">
        <thead>
          <tr class="sticky">
            <th class="pl-4 w-32">
              id
            </th>
            <th class="pl-2">
              Descripcion
            </th>
            <th class="pl-2">Origen</th>
            <th class="pl-2">Cuenta</th>
            <th class="pl-2">Tipo de Movimiento</th>
            <th class="pl-2">Fecha de Asiento</th>
            <th class="pl-2">Monto de Asiento</th>
            <th class="pl-2">Estado</th>
            <th class="pl-2">Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let data of tipoCuentaData; index as i">
            <td class="pl-2 ">{{ i + 1}}</td>
            <td class="pl-2 ">{{ data.descripcion }}</td>
            <td class="pl-2 ">{{ data.idOrigen ? getAuxiliares(data.idOrigen) : 'N/A'}}</td>
            <td class="pl-2 ">{{ data.cuenta ? getNombre(data.cuenta) : 'N/A' }}</td>
            <td class="pl-2 ">{{ data.tipoMovimiento }}</td>
            <td class="pl-2 ">{{ data.ferchaAsiento | date: 'dd/MM/yyyy'}}</td>
            <td class="pl-2 ">{{ data.montoAsiento | currency}}</td>
            <td>
              <div *ngIf="data.estado === true" class="status-btn bg-green-500 pt-1 px-4">
              Activo
              </div>
              <div *ngIf="data.estado === false" class="status-btn bg-red-500 pt-1 px-3">
              Inactivo
              </div>
            </td>
            <td class="pl-4 justify-between">
              <button  (click)="openModalWindow('edit',data._id)" class="mr-5 flex-row  rounded-md bg-amber-400 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-amber-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-400">
                <img alt="Detalle" class="item-center" src="../../../assets/img/edit-pencil.svg" />
              </button>
              <button (click)="deleted(data._id)" class="mr-5 rounded-md bg-red-500 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">
                <img alt="Detalle" class="item-center" src="../../../assets/img/delete-item.svg" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    
  </main>

  <div [ngSwitch]="modalActiveWindow">
    <app-modal
      title="Añadir Entrada Contable"
      *ngSwitchCase="'add'"
      (closeEvent)="closeModalWindow($event)"
      [modalActiveWindow]="modalActiveWindow"
    >
    <app-add-contable-entries (clientUpdated)="getCuentas()" (closeEvent)="closeModalWindow($event)" ></app-add-contable-entries>
    </app-modal>
    <app-modal
      title="Editar Entrada Contable"
      *ngSwitchCase="'edit'"
      (closeEvent)="closeModalWindow($event)"
      [modalActiveWindow]="modalActiveWindow"
    >
    <app-add-contable-entries [cuantaId]="cuentaId" (clientUpdated)="updateCuentas()" (closeEvent)="closeModalWindow($event)" ></app-add-contable-entries>
    </app-modal>
  </div>
  